@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 fw-bolder text-primary">Welcome To HRMS Portal</h1>
   @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="~/Images/HRMS.png" height="600"  class="text-center"/>
</div>
