@* @model MvcHRMS.Models.Emp *@
@model MvcHRMS.Models.GeneratePaySlipViewModel;
@if (TempData["msg"] != null)
{
    @TempData["msg"]
}
<partial name="Notification" />
<div class="container">
    <div class="card w-50 d-block m-auto bg-white">
        <div class="card-header">
            <h3 class="text-center">Generate Pay Slip</h3>
        </div>
        <div class="card-body">
            <form asp-action="GeneratePaySlip" asp-controller="PaySlip" method="post" enctype="multipart/form-data">
                <div class="form-group mb-2">
                    <label asp-for="EmpID" class="control-label">Employee ID:</label>
                    <input asp-for="EmpID" class="form-control" placeholder="Enter Employee ID" required="required" />
                    <span asp-validation-for="EmpID" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Name" class="control-label">Employee Name:</label>
                    <input asp-for="Name" class="form-control" placeholder="Employee Name" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Designation" class="control-label">Designation:</label>
                    <input asp-for="Designation" class="form-control" placeholder="Designation" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Salary" class="control-label">Monthly Salary:</label>
                    <input asp-for="Salary" class="form-control" placeholder="Monthly Salary" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Contact" class="control-label">Contact Number:</label>
                    <input asp-for="Contact" class="form-control" placeholder="Contact Number" />
                </div>
               
                <div class="form-group mb-2">
                    <label asp-for="LeaveDays" class="control-label">Absent Leaves:</label>
                    <input asp-for="LeaveDays" class="form-control" placeholder="Absent Leaves" required="required" />
                    <span asp-validation-for="LeaveDays" class="text-danger"></span>
                </div>


                <div class="form-group mb-2">
                    <label asp-for="Month" class="control-label">Select Month:</label>
                    <select asp-for="Month" class="form-control" required="required">
                        <option value="">Select Month</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success w-50 d-block m-auto mt-3">Generate PaySlip</button>
            </form>
        </div>
    </div>
</div>
